.ticketSearchContainer{
    border:3px solid black;
    box-sizing: border-box;
    border-radius: 30px;
    margin:50px 0;
    background-color: white;
 
    padding-right:  100px 50px;

}


.ticketSearchButton{
    padding:5px;
    width:370px;
    border-radius: 50px;
    border:2px solid black;
    margin-bottom: 50px;
   
}


