.appbar1{
	background-color: #fce00d;
	color: #4f4d41;
}
.searchbox{
	border: 3px solid black;
	height: 30px;
	align-items: center;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 18px;
}

.list ListItem{

}

.listItem{
	text-align: center;
	border-bottom: 2px solid black;
	padding: 3px;
	margin-right: 10px;



}
.listItem:hover{
	/* color: rgba(173, 173, 24, 0.966); */
	transform: translate(1.2);
	background-color:rgb(216, 216, 19);
	margin: 0px 15px;
	
}

.sublistItem{
	margin:0 20px ;
}

.categoryHeader{
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	background-color:  #fce00d;
	border: 2px solid black;
	border-radius: 5px;
}